@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply flex justify-center items-center min-h-screen;
	background-color: #8ec5fc;
	background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.Card {
	@apply w-[40rem] max-h-[50rem] bg-slate-100 rounded-3xl overflow-hidden relative;
}

.Avatar {
	@apply w-full h-[7rem] mb-[5rem] bg-slate-600 relative;
}

.Avatar .avatar {
	@apply h-[10rem] w-[10rem] rounded-full border-8 border-slate-100 overflow-clip
	top-full left-1/2 absolute -translate-x-1/2 -translate-y-1/2;
}

.avatar .utils {
	@apply opacity-0 bg-slate-700/70 absolute w-full h-full top-0 left-0 transition-opacity
	flex justify-center items-center gap-2;
}

.utils > div,
.utils > a {
	@apply bg-transparent hover:bg-slate-300/70 p-2 rounded-3xl text-white cursor-pointer;
}

.field {
	@apply border-b-2 min-w-[10rem] w-fit italic bg-transparent cursor-pointer inline-block;
}

.Info {
	@apply w-full h-full px-4 pb-4;
}

label {
	@apply font-medium;
}

.refresh {
	@apply w-6 h-6 z-10 text-white cursor-pointer
	absolute right-3 top-3;
}

h2 {
	@apply font-bold text-xl text-center mt-2;
}

a.links {
	@apply underline font-medium mx-1
	text-sky-500 visited:text-purple-500;
}

/* Signature Code Starts from here!! */
a[signature] {
	@apply flex items-center gap-1
		absolute top-4 left-4 text-white py-2.5 px-5
		bg-white/10 border border-white/20 rounded-md backdrop-blur no-underline
		hover:bg-white/20 hover:border-white/30;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	transition: background-color 500ms, border-color 500ms;
}

a[signature] svg {
	@apply w-5 h-5;
}
